html{
    font-family: "Lato", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
    background: gray;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(./images/icon_dothraki.png) url(./images/icon_elvish.png) url(./images/icon_klingon.png) url(./images/icon_valyrian.png);
 }

 /* first container */
 body > div:nth-child(2){
    margin-top: 20px;
}

.container{
    box-shadow: 0px 10px 20px #0000004d;
    max-width: 780px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background: white;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

h2{
    color: #B48F6B !important;
    font-weight: 100;
    font-size: 28px;
    padding-right: 30px;
}

h1 {
    font-weight: 500!important;
    font-family: "Lato", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
    color: #86b4de;
}

h1 > a {
    color: inherit;
    text-decoration: none;
}

.title2{
    font-family: sans-serif;
    padding-left: 12px;
    padding-top: 5px;
}

.header {
    position: relative;
    display: flex;
    width: 100%;
    align-content: space-around;
    justify-content: space-between;
}

.header-item {
    font-size: 15px;
    color: #384347;
    font-weight: 400!important;
    line-height: 15px;
    display: inline-block;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.header-item > i {
    color: #808486;
    font-size: 16px;
    margin-right: 7px;
}

.profile-pic{
    background-size: 150px;
    border-radius: 150px;
    min-width: 150px;
    width: 150px;
    height: 150px;
    background-image: url(./images/me.png);
}

ul {
    padding-left: 10px;
}

li {
    padding-bottom: 0px;
}

li > span {
    display: block;
    margin-bottom: 12px;
}

li > p {
    padding-top: 0;
    padding-left: 10px;
}

p {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.section > p {
    padding-top: 0;
    margin-top: 2px;
    margin-bottom: 30px;
}

.section > div {
    margin-left: 10px;
    margin-top: 7px;
}

h3{
    color: #b2b4b6;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 17px;
    border-bottom: 2px solid hsla(0,0%,72.5%,.2);
}

h4{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 100;
    margin-bottom: 10px;
    display: inline-block;
}

#toast{
    position: absolute;
    text-align: center;
    min-width: 250px;
    background: #4e4e4e;
    padding: 10px;
    bottom: -50px;
    position: fixed;
    color: aliceblue;
    border-radius: 5px;
    opacity: 0;
    z-index: 999;
}

.header-items > :nth-child(1) {
    cursor: pointer;
}

.header-items > :nth-child(2) {
    cursor: pointer;
}

#toast.show {
    bottom: 30px;
    opacity: 1;
    animation: fadein 0.5s;
}

#toast.hide {
    bottom: -50px;
    opacity: 1;
    animation: fadeout 0.5s;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 238px;
    height: 238px;
    border: 1px solid #dae0e5;
    margin: 10px;
    box-shadow: 0 5px 10px #0000002b;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.card-bg {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #f1f4f6;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-details{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.badges {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #686d71;
    width: 100%;
    bottom: 15px;
}

.badges > .bronze {
    background-color: #f8e9dd;
    border: 1px solid #f0decb;
}

.badges > .silver {
    background-color: #eaebec;
    border: 1px solid #dddee0;
}

.badges > .gold {
    background-color: #fffae6;
    border: 1px solid #ece5c6;
}

.badges > div {
        width: 40px;
        height: 40px;
        background: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
}

.so-rep {
    text-align: center;
    font-size: 14px;
    color: grey;
}

#so-rep {
    font-size: 58px;
    color: black;
}

.so-rep > span {
    font-size: 14px;
    color: gray;
}

.stack-logo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.svg?v=f13ebeedfa9e');
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
    opacity: 0.35;
}

#flamingo-logo {
    position: absolute;
    background-image: url('./images/icon_valyrian.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: background-image 1.5s ease-in-out;
}

.flamingo-decscription{
    position: absolute;
    padding: 10px;
    background: #4c4c4c6b;
    border-radius: 0px 0px 10px 0px;
    color: white;
}

.flamingo-decscription > a {
    color: white;
    text-decoration: none;
}

.vibes-logo {
    background-image: url(./images/icon_vibes.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
}

.mixtape-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg,#00a2ff,#4acaff);
}

.mixtape-wave {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./images/mixtape-wave.png);
    background-size: 240px;
    background-position: center;
    background-repeat: repeat-x;
    animation: wave 15s linear infinite;
}


@-webkit-keyframes wave {
    from {background-position-x: 0px}
    to{background-position-x: 240px}
}

.mixtape-logo {
    background-image: url(./images/icon_mixtape.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.blogger-logo {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/31/Blogger.svg);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @media only screen and (max-width: 920px) {
    .card{
        width:290px;
        height:290px;
    }

    .mixtape-logo {
        background-size: 200px;
    }

    p {
        padding-right: 30px;
    }

     /* first container */
    body > div:nth-child(2){
        margin-top: 0px;
    }
}

  @media only screen and (max-width: 650px) {
    body {
        margin: 0;
    }

    .container{
        border-radius: 0;
        padding: 20px;
    }

    h1 {
        margin-top: 5px;
    }

    .profile-pic {
        background-size: 100px;
        border-radius: 150px;
        min-width: 100px;
        width: 100px;
        height: 100px;
    }

    .card {
        width: 220px;
        height: 230px;
        margin: 30px;
    }
}

.cloud {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: -40px;
}

.cloud > li {
    background: #00a2ff;
    padding: 5px;
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.emojis{
    display: flex;
    justify-content: center;
    font-size: 20px;
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    line-height: 15px;
}

.emojis > li {
    margin: 10px;
}

.center-text {
    text-align: center;
}

input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}

textarea {
    width: 100%;
    margin-top: 10px;
    min-height: 80px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    padding: 2px;
    box-sizing: content-box;
    min-width: 250px;
    background: #00a2ff;
    color: white;
    font-family: "Lato", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
    font-size: 15px;
    max-height: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invalid::after {
    content:" *"; 
    color: #e32;
    position: absolute; 
    margin: 0px 0px 0px -20px; 
    font-size: xx-large; 
    padding: 0 5px 0 0; }

button:focus {outline:0;}
textarea:focus {outline:0;}
input:focus {outline:0;}

.spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #00000000; /* Blue */
    border-bottom: 5px solid #00000000; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 20px;
    height: 20px;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .footer {
      font-size: 50px;
      color: white;
      margin-bottom: 30px;
  }

  .footer > a {
      color: white;
      text-decoration: none;
  }

  .footer > * {
      margin: 0 15px;
      cursor: pointer;
  }

  .info {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000000a6;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .infoBg{
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .info-content {
    background: white;
    text-align: center;
    max-width: 475px;
    border-radius: 5px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
  }

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 60px;
    color: #ffffffed;
  }